.popup__input_type_error {
    border-bottom: 2px solid red;
}

/* .form__input_type_active {
    display: block;
} */

.form__input-error {
    display: none;
    color: red;
    margin-block-start: -6px;
    font-size: 12px;
    line-height: 14px;
    position: absolute;

}

.form__input-error:last-of-type {
    margin-block-start: 10px;
}

.popup__error_visible {
    display: block;
}

input:focus{
    outline: 2px solid #9cf;
}

.popup__button_disabled, 
.popup__button_disabled:hover {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    color: rgba(0,0,0,0.2);
    cursor:unset;
}

